

.mg-contributors a {
  text-decoration: none;
}


/*		For Widget css */
.mg-contributors-widget {
  margin-bottom: 1em;
  margin-top: 1em;
  overflow: auto;
  padding: 10px;
  width: 95%;
}
.mg-contributors-widget h2 {
  border-bottom: 1px solid #DDDDDD;
  color: #818181;
  font-size: 20px;
  margin-left: 10px;
  padding-bottom: 5px;
}

 .mg-contributors-widget ul {
	list-style: none;
	margin-top: 10px !important;
}

.mg-contributors-widget ul li {
  clear: both;
  float: left;
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 1em;
  margin-top: 5px;
}

.mg-contributors-widget .avatar {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  margin: 0 0 5px 10px;
  min-height: 50px;
  min-width: 50px;
}

.mg-contributors-widget h4 , .mg-contributors-widget h5{
  color: #6C6C6C;
  line-height: 1;
  padding: 0;
}

.mg-contributors-widget h4 {
  font-size: 15px;
  line-height: 1;
  margin: 0 0 0 10px;
  padding: 0;
}

.mg-contributors-widget h5 {
  font-size: 12px;
  line-height: 1;
  margin: 5px 0 0 10px;
  padding: 0;
}















/*		For Post content	*/
.post .mg-contributors {
  border: 1px solid #CCCDDD;
  width: 95%;
  overflow: auto;
  padding: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.post  .mg-contributors h2 {
	font-size: 20px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 0 !important;
	margin-left: 10px;
	color: #818181;
}

.post  .mg-contributors ul {
	list-style: none;
	margin-top: 10px !important;
}

.post  .mg-contributors ul li {
	list-style-type: none;
	float: left;
	margin-right: 1em;
	margin-bottom: 10px;
}

.post  .mg-contributors .avatar {
  border: 1px solid #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  min-height: 50px;
  min-width: 50px;
}

.post .mg-contributors h4 , .post .mg-contributors h5{
  color: #6C6C6C;
  line-height: 1;
  padding: 0;
}

.post  .mg-contributors h4{
	margin: 10px 0 0;
	font-size: 15px;
}

.post  .mg-contributors h5{
	margin: 5px 0 0;
	font-size: 12px;
}